div#mineWhole{
    width: 1200px;
    margin: 100px auto;
}
button.btn{
    font-size: 2.2rem;
    margin-top: 30px;
    margin-right: 20px;
}
div.alert-warning{
    position: fixed;
    top:50%;
    right: 5%;
    font-size: 2.5rem;
}